.container {
  display: flex;
  flex-direction: row;
  /* width: calc((100% - 80px) / 5); */
  background-color: white;

  height: min-content;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 10px;

  border-radius: 10px;
  box-shadow: 0px 1.7611111403px 17px 0px rgba(19, 18, 66, 0.0705882353);
}

.container:nth-last-child() {
  margin-right: 20px;
}

.container:hover {
  .icon {
    opacity: 1;
    transition: opacity 150ms ease-in-out;
  }
}

.icon {
  margin-left: auto;
  align-self: center;
  opacity: 0;

  transition: opacity 150ms ease-in-out;
}
